<h1>Todas as tasks</h1>

<ul class="task-list">
  {{#each tasks}}
    <li>
      {{#if this.done}}
      <a href="/" class="title done">{{this.title}}</a>
      {{else}}
      <a href="/" class="title">{{this.title}}</a>
      {{/if}}
      <p class="description" style="display: none;">{{this.description}}</p>
      <div class="actions">
        <form action="/tasks/updatestatus" method="post">
          <input  type="hidden" name="id" value="{{this.id}}">
          <input  type="hidden" name="done" value="{{this.done}}">
          <button type="submit">
            <i class="bi bi-check2"></i>
          </button>
        </form>

        <a class="editarForm" href=""><i class="bi bi-pencil-square"></i></a>
        <form action="/tasks/remove" method="post">
        <input class="inputid" type="hidden" name="id" value="{{this.id}}">
        <button type="submit"><i class="bi bi-x-lg"></i></button>
        </form>
      </div>
    </li>
  {{/each}}
</ul>